<div class="py-5"></div>
<div class="container" style="min-height: 83vh">
  <%if @notes.empty? %>
    <h1 class='py-4'>You don't have any note yet</h1>
    <%= link_to "Add a note", new_note_path, class: "btn btn-add" %>
  <%else %>
    <div class="d-inline-flex align-items-center">
      <h1 class='py-4'>Your notes</h1>
      <%= link_to '<i class="fas fa-plus"></i> Add a note'.html_safe, new_note_path, class: "btn-flat ml-4" %>
    </div>
    <% @notes.each do |note| %>
      <div>
        <div class="notes-card">
          <div class="second-card">
          <%= note.date %>
           <%# <%= link_to note.date, note_path(note) %>
            <div>
             <%= link_to edit_note_path(note) do%>
                <i class="fas fa-edit"></i>
             <% end %>
             <%= link_to note_path(note), method: :delete, data: {confirm: "Are you sure?"} do%>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
          <div>
          <%= link_to note_path(note) do%>
            <p><i><%= "#{note.content[0..15]} ..." %></i></p>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  <%end  %>
</div>
