<div class="py-5"></div>

<div class="container" style="min-height: 83vh">

  <h1>Note from : <%= @note.date.day %> <%= Date::MONTHNAMES[@note.date.month] %> <%= @note.date.year %></h1>
  <div class="my-4 p-4 note-content">
    <p><%= @note.content %></p>
    <p><%= link_to '<i class="fas fa-edit"> Edit</i>'.html_safe, edit_note_path(@note), class:"my-4" %></p>
  </div>
  <div class="py-3"></div>
  <h2 class=>Transactions made this day: </h2>
  <% if @transactions != [] %>
  <table class= "mt-4 table-tx">
    <thead>
      <tr>
        <th><p style="font-weight:bold">Name</p></th>
        <th><p style="font-weight:bold">Type</p></th>
        <th><p style="font-weight:bold">Quantity</p></th>
        <th><p style="font-weight:bold">Price</p></th>
        <th><p style="font-weight:bold">Date </p></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr class="card-transac mb-4">
          <td>
            <div class="cell-with-logo">
              <img src="<%= Asset.find(transaction.asset_id).image %>" alt="Asset icon", width="20%" height="20%">
              <p><%= Asset.find(transaction.asset_id).id_name.capitalize %></p>
            </div>
          </td>
          <td><p><%= transaction.direction %></p></td>
          <td><p><%= transaction.quantity %></p></td>
          <td><p><%= transaction.price %></p></td>
          <td><p><%= transaction.date %></p></td>
          </tr>
        <tr class="separator"></tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p style="color:grey; font-style:italic"> No transaction made this day</p>
  <% end %>

</div>
