<div class="py-5"></div>
<div class="container">
  <h1>Our team</h1>
  <div class="card-member">
    <%= image_tag 'paul.png', size:"200x200", class:"member-pic" %>
    <div class="member-info">
      <h2>Paul Le Mercier</h2>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/paul-lemercier/' %>
      <%= link_to '<i class="fab fa-github-square"></i></i>'.html_safe, 'https://github.com/lmpaul' %>
    </div>
  </div>
   <div class="card-member">
    <%= image_tag 'nathan.png', size:"200x200", class:"member-pic" %>
    <div class="member-info">
      <h2>Nathan Fitger</h2>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/nathan-fitger-7b9783224/' %>
      <%= link_to '<i class="fab fa-github-square"></i></i>'.html_safe, 'https://github.com/NathonLe' %>
    </div>
  </div>
   <div class="card-member">
    <%= image_tag 'moussa.png', size:"200x200", class:"member-pic" %>
    <div class="member-info">
      <h2>Moussa Dramé</h2>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/moussa-dram%C3%A9-b39048173/' %>
      <%= link_to '<i class="fab fa-github-square"></i></i>'.html_safe, 'https://github.com/MoussaDram' %>
    </div>
  </div>
   <div class="card-member">
    <%= image_tag 'jeremy.png', size:"200x200", class:"member-pic" %>
    <div class="member-info">
      <h2>Jérémy Mélières</h2>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/jeremy-melieres/' %>
      <%= link_to '<i class="fab fa-github-square"></i></i>'.html_safe, 'https://github.com/jeremymel' %>
    </div>
  </div>
</div>
