<div class="container">
  <%= "<h1 id='foo' class='py-4' data-dashboard-id='#{@dashboard.id}'>#{@dashboard.name}</h1>".html_safe %>
  <p>Votre PnL est de : <%= @total_pnl %>$ </p>
  <p>Vous avez <%= @assets.keys.length %> crypto monnaies :</p>
  <figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
    </p>
</figure>
  <%= javascript_pack_tag 'highcharts', 'data-turbolinks-track': 'reload' %>
  <% @assets.keys.each do |key| %>
    <div class="card p-4 my-4">
      <h2><%= @assets[key][:name] %> - PnL <%= @assets[key][:pnl] %>$ </h2>
      <p>Nombre de coins: <%= @assets[key][:quantity] %> </p>
      <p>Valeur par coin: <%= @assets[key][:market_price] %>$ </p>
      <p>Coût de revient par coin: <%= @assets[key][:average_cost] %>$ </p>
      <% asset_value = @assets[key][:quantity] *  @assets[key][:market_price] %>
      <p>Pourcentage du portefeuille: <%= (asset_value / @total_value * 100).floor %>% </p>
    </div>
  <% end %>
</div>
