<div class="py-5"></div>
<div class="container">
  <div class="dashboard-header">
    <%= "<h1 id='foo' class='py-4' data-dashboard-id='#{@dashboard.id}'>#{@dashboard.name}</h1>".html_safe %>
    <%= link_to 'Add Transaction', new_dashboard_transaction_path(@dashboard), class: "btn-blue"%>
    <%= link_to 'All Transactions', dashboard_transactions_path(@dashboard), class: "btn-flat"%>
  </div>

  <div class="d-inline-flex justify-content-around" style="width:100%; padding: 30px 100px">
    <% @assets.keys.each do |key| %>
      <div class="asset-icon-card">
         <%= image_tag Asset.where("id_name = '#{key}'").last.image, size: "50x50" %>
        <p style="margin:0 10px"><%= key.capitalize %></p>
      </div>
    <% end %>
  </div>


  <figure class="highcharts-figure">
    <div id="container"></div>
  </figure>
  <%= javascript_pack_tag 'highcharts', 'data-turbolinks-track': 'reload' %>

  <figure class="highcharts-figure">
    <div id="pie"></div>
  </figure>
  <%= javascript_pack_tag 'piechart', 'data-turbolinks-track': 'reload' %>


  <div class="asset-card">
    <h2> <%= @dashboard.name %>'s key metrics</h2>

    <p>Number of transactions: <%= @dashboard.transactions.length %></p>
  </div>

  <% @assets.keys.each do |key| %>
    <div class="asset-card">
      <div class="my-4 d-inline-flex align-items-center">
        <%= image_tag Asset.where("id_name = '#{key}'").last.image, size: "30x30" %>
        <h2 style="margin:0 10px"><%= key.capitalize %></h2>
      </div>
      <% if @assets[key][:pnl] > 0 %>
        <p style="color:green"> + <%= @assets[key][:pnl] %>$</p>
      <% else  %>
        <p style="color:red"> <%= @assets[key][:pnl] %>$</p>
      <% end %>
      <p>Number of coins: <%= @assets[key][:quantity] %> </p>
      <p>Coin market price: <%= @assets[key][:market_price] %>$ </p>
      <p>Average cost per coin: <%= @assets[key][:average_cost] %>$ </p>
      <% asset_value = @assets[key][:quantity] *  @assets[key][:market_price] %>
    </div>
  <% end %>
</div>
