<div class="py-5"></div>
<% if @assets == 0 %>
  <div class="container" style="height: 80vh">
      <h1>You don't have any transaction yet...</h1>
      <div class="py-4"></div>
      <%= link_to 'Add Transaction', new_dashboard_transaction_path(@dashboard), class: "btn-flat"%>
  </div>
<% else %>
  <div class="container">
    <div class="dashboard-header">
      <%= "<h1 id='foo' class='py-4' data-dashboard-id='#{@dashboard.id}'>#{@dashboard.name}</h1>".html_safe %>
      <div>
        <%= link_to '<i class="fas fa-plus"></i> Add Transaction'.html_safe, new_dashboard_transaction_path(@dashboard), class: "btn-flat", style: "height 100%" %>
        <%= link_to 'All Transactions', dashboard_transactions_path(@dashboard), class: "btn-dark ml-3", style: "height 100%" %>
      </div>
    </div>

    <div class="d-inline-flex align-left" style="width:100%">
      <% @assets.keys.each do |key| %>
        <div class="asset-icon-card mr-2">
          <%= image_tag Asset.find_by(id_name: key).image, size: "50x50" %>
          <p style="margin:0 10px"><%= key.capitalize %></p>
        </div>
      <% end %>
    </div>


    <div id="chart" >
      <p class="loader"><i class="fas fa-cogs"></i> Computing your data...</p>
    </div>

    <div class="w-100 d-inline-flex justify-content-between">
      <div class="key-metrics-card">
        <h2 class="my-4"> <%= @dashboard.name %>'s key metrics</h2>
        <% if @total_pnl > 0 %>
          <p> Profit and Loss: <span style="color:#02C77A">+<%= @total_pnl.round(2) %> $</span></p>
        <% else %>
          <p> Profit and Loss: <span style="color:red"><%= @total_pnl.round(2) %> $</span></p>
        <% end %>
        <p>Number of assets: <%= @assets.keys.length %></p>
        <p>Total value: $<%= @dashboard.total_value(@assets).round(2) %></p>
        <p>Number of transactions: <%= @dashboard.transactions.length %></p>
      </div>
      <div class="key-metrics-card">
        <div id="pie">
          <p class="loader"><i class="fas fa-cogs"></i> Computing your data...</p>
        </div>
      </div>

    </div>


    <% @assets.keys.each do |key| %>
      <div class="asset-card asset my-4" data-asset="<%= key %>">
        <div style="width: 50%">
          <div class="my-4 d-inline-flex align-items-center">
            <%= image_tag Asset.where("id_name = '#{key}'").last.image, size: "30x30" %>
            <h2 style="margin:0 10px"><%= key.capitalize %></h2>
          </div>

          <div style="width: 45%">
            <% if @assets[key][:pnl] > 0 %>
              <p> Profit and Loss: <span style="color:#02C77A">+<%= @assets[key][:pnl].round(2) %> $</span></p>
            <% else %>
              <p> Profit and Loss: <span style="color:red"><%= @assets[key][:pnl].round(2) %> $</span></p>
            <% end %>
            <p>Value: $<%= (@assets[key][:quantity] * @assets[key][:market_price]).round(2) %></p>
            <p>Number of coins: <%= @assets[key][:quantity] %> </p>
            <p>Market price: $<%= @assets[key][:market_price].round(2) %> </p>
            <p>Average cost per coin: $<%= @assets[key][:average_cost] %></p>
            <% asset_value = @assets[key][:quantity] *  @assets[key][:market_price] %>
          </div>
        </div>
        <div class="sparkline" id="<%= key %>" style="height:250px; width: 50%" >
          <p class="loader"><i class="fas fa-cogs"></i> Computing your data...</p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
