<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
        <h2>Edit your transaction</h2>
        <%= simple_form_for [@dashboard, @transaction] do |f| %>
          <%= f.input :direction %>
          <%= f.input :asset_name %>
          <%= f.input :quantity %>
          <%= f.input :price %>
          <%= f.input :date %>
          <%= f.submit "Edit", class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Back", :back %>
    </div>
  </div>
</div>
