<div class="py-5"></div>
<div class="container py-5" style="min-height: 83vh">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 col-xs-6">
      <div class="form-night my-4 text-cetner p-6">
        <%= simple_form_for [@dashboard, @transaction] do |f| %>
          <p>Asset: <abbr title="required">*</abbr></p>
          <%= f.input :asset_id, as: :select, collection:  Asset.all.map { |r| [r.name, r.id, data: { image: r.image }]}, input_html: { class: 'select2 w-100' }, label: false %>
          <%= f.input :direction, as: :select,  collection: ["Buy", "Sell", "Add"], label: "Action"%>
          <%= f.input :price, as: :float, label: "Price in USD" %>
          <%= f.input :quantity, as: :float %>
          <p>Date and time of the transaction :<abbr title="required">*</abbr></p>
          <%= f.date_field :date, as: :date, max: Date.today, label: "date" %>
          <%= f.hidden_field :dashboard, value: @dashboard.id %>
          <br>
          <%= f.button :submit, class: 'btn-flat mt-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
