<div class="show-transac">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4">
        <div class="card-show my-4">
          <div class="card-show-infos">
            <div class="paragraphe">
              <div class="mt-4 d-flex-inline">
                <p><%= "Asset" %></p>
                <p><%= @transaction.asset_name %></p>
              </div>
              <div class="mt-4 d-flex-inline">
                <p><%= "Way" %></p>
                <p><%= @transaction.direction %></p>
              </div>
              <div class="mt-4 d-flex-inline">
                <p><%= "Date" %></p>
                <p><%= @transaction.date %></p>
              </div>
              <div class="mt-4 d-flex-inline">
                <p><%= "Quantity" %></p>
                <p><%= @transaction.quantity %></p>
              </div>
              <div class="mt-4 d-flex-inline">
                <p><%= "Price" %></p>
                <p><%= @transaction.price %></p>
              </div>
            </div>
              <div class="mt-4 d-flex-inline">
                <%= link_to "Modifier", edit_dashboard_transaction_path(@dashboard, @transaction), class:"btn btn-primary", style:"width: 100px" %>
                <%= link_to "Supprimer", dashboard_transaction_path(@dashboard, @transaction), class:"btn btn-danger", style:"width: 100px", method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger", style:"width: 100px" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
